.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#ffffff;
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links li{
    cursor:pointer;
    font-size:18px;
}

.nav-links li:hover{
    color:royalblue;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-links a:hover{
    color: royalblue;
}